#DeleteBtn{
    margin-left: 100px;
    border:none;
    background-color: red;
}

#DeleteBtn:hover{
    background-color: crimson;
}

#login{
    text-align: center;
    margin:0 275px;
    display:block;
}

#login #buttons{
    display:flex;
    justify-content: space-between;
}

#login #ErrorMsg{
    color: red;
}

ul{
    display:none;
}

li{
    display:flex;
    align-items: center;
    justify-content: center;
}

#main-list li input{
    width:40px;
    height:20px;
    margin:0;
}